#address-book-form,
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  width: 500px;
  margin: 20px auto;
}

.form-wrapper button {
  margin: 0 auto;
}

.coords-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.coords-wrapper span {
  display: inline-block;
  margin: 30px 20px;
  font-size: 1em;
}

@media (max-width: 500px) {
  .form-wrapper {
    width: auto;
  }
}
