#address-book-form,
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  width: 500px;
  margin: 20px auto;
}

.form-wrapper button {
  margin: 0 auto;
}

@media (max-width: 500px) {
  .form-wrapper {
    width: auto;
  }
}
