<form id="address-book-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-wrapper">
    <mat-form-field>
      <input matInput id="label" formControlName="label" placeholder="Адрес">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput id="info" formControlName="info" placeholder="Заметка"></textarea>
    </mat-form-field>
  </div>
  <div class="coords-wrapper">
    <span>Latitude: {{ lat }}</span>
    <span>Longitude: {{ lng }}</span>
  </div>

  <agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClicked($event)">
    <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      [label]="form.value.label">
      <agm-info-window>
        <strong>Info</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="form-wrapper">
    <button mat-flat-button color="primary" type="submit">Сохранить</button>
  </div>
</form>
