#app-main-menu button {
  margin: 10px;
}
#content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 5px;
}

.main-menu-row {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

@media (max-width: 620px) {
  .main-menu-row {
    flex-direction: column;
    height: auto;
  }
  .main-menu-row button {
    width: 80%;
    white-space: normal;
  }
}
