<h2>Список адресов</h2>
<div class="address-book-search">
  <mat-form-field>
    <input matInput type="text" placeholder="Поиск" [(ngModel)]="search">
  </mat-form-field>
</div>

<div id="address-book-list-wrapper">
  <mat-card *ngFor="let item of getAddresses(); let i = index;" class="address-item">
    <mat-card-content>
      <h3 title="Координаты: {{ item.lat }}, {{ item.lng }}" [routerLink]="['edit', i]">{{ item.label }}</h3>
      <p>{{ item.info }}</p>
    </mat-card-content>
  </mat-card>
</div>
